# Build artifacts
*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
lib/Makefile
lib/cmake_install.cmake
lib/libzmaplib.a
lib/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/CMakeFiles/
src/topt.c
src/topt.ggo
src/topt.h
src/zbopt.c
src/zbopt.ggo
src/zbopt.h
src/zitopt.c
src/zitopt.ggo
src/zitopt.h
src/zopt.c
src/zopt.ggo
src/zopt.h
src/ztopt.c
src/ztopt.ggo
src/ztopt.h
src/zmap
src/zblocklist
src/ziterate
src/ztee
src/ztests
src/*.c.bak
rewrite_unpriv.py
*.tmp
conf/zmap.conf
